.profileFooter {
  height: 50px;
  background-color: blue;
}

.container {
  display: flex;
  flex: 1;
}

.profileMenu {
  border: 1px solid black;
  width: 200px;
}

.mainContent {
  display: flex;
  background: grey;
  flex: 1;
}

.mapContainer {
  width: 100%;
  height: 100%;
}
